*{
    margin: 0;
    padding: 0;
    font-family: Kole ss,Arial, Helvetica, sans-serif;
   }


@font-face {
    font-family: Kole ss;
        src: url(font/nicolassfonts_-_kole-extralight-webfont.woff);
  }
  
h1{
    word-break: normal;
    width: 3.5em;
    font-size: 7rem;
font-weight: bold;   
color: #3e603b;
margin: 30vh 0px 0px 12vh;
}
#front p{
    margin: 0vh 0px 0px 12vh;
    font-size: 1.4rem;
}
    

nav{
   
    background: #3e603b;
    height: 100%;
    position: fixed;
    width: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


#front{
    word-break: normal;
    background-image: url(imagens/Untitled-1.svg);
    background-repeat: no-repeat, repeat;
    background-position: 90% 18%;
}
#sec1{
    display: flex;
    flex-direction: row;
    
}
aside{
    right: 0;
    fill: #949494;
     height: 100%;
    position: fixed;
    width: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    
}
#sec2{
    width: 51%;
    margin: auto;
    padding: 15vh;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5em;
    border-bottom: solid 1px #949494;
}
.paragrafo-references{
    font-size: 0.7em;
    text-indent: 4em;
    
}
.corp,.corp2{
    display: flex;
    flex-direction: row;
    width: 72.05882352941176%;
    margin: auto;
    padding: 10vh;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.7em;
    

}
#review{
    display: flex;
    flex-direction: row;
    width: 72.05882352941176%;
    margin: auto;
    padding: 10vh;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7em;
    

}
.corp{
    background-image: url(imagens/Untitled-1.svg);
    background-repeat: no-repeat, repeat;
    background-position: 55% 20%;
    background-size: 8rem;
}
.corp2{
    background-image: url(imagens/Untitled-1.svg);
    background-repeat: no-repeat, repeat;
    background-position: 37% 20%;
    background-size: 8rem;
}
.corp img{
    width: 50%;
}
.text{
    width: 30%;
    margin: 5%;
   
}
.subtitle{
    font-size: 1.4em;
    
}
.services{
    margin-top: 10%;
    font-size: 0.8em;
}
.subtitle, .services{
    text-decoration: none;
    color: #3e603b;
    font-weight: bold;

}
.text p{
    padding: 5% 0 10% 0;
}
#sec3 > div:nth-child(3){
    border-bottom: solid 1px #949494;

}
#coment{
    text-decoration: none;
    color: #3e603b;
    font-weight: bold;
    font-size: 2em;
}
.coment{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.coment p{
    width: 50%;
}
#review > div > p:nth-child(3){
    font-size: 0.7em;
}
footer{
    text-align: center;
    margin: auto;
    background: #3e603b;


}
.foot{
    width: 72.05882352941176%;
    
    display: flex;
    flex-direction: row;
    margin: auto;
    color: #f7f4f4;
    padding-bottom: 4rem;
    padding: 3rem;
}
#forms{
    width: 50%;
    
    text-align: left;

}
#final{
  
    text-align: left;
    width: 26%;
    line-height: 1.7em;
}
#forms > p:nth-child(1){
   
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 3em;
}
#padrao {
    border-width: 0;
    background: #3e603b;
    color: #f7f4f4;
        font-size: 1.4em;
    margin: 1rem;
    border-bottom: solid 1px red;
}
#submit{
   
    color:#f7f4f4;
    width: 50%;
    background: #99bb96;
    font-size: 2em;
}




@media only screen and (max-width: 767px){
        
    nav{
            width: 100%;
            height: 5%;
    background: #3e603b;
   
   
    
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;}
    
    aside{
        
    
    
    fill: #949494;
    /* height: 100%; */
    /* position: fixed; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    }
    #sec1{
        flex-direction: column;
    }


  
}